@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&family=Dela+Gothic+One&family=Inter:wght@100..900&display=swap');

:root {
  background-color: #f8fafc;

  --color-black: #1a182e;
  --color-white: #ffffff;
  --color-slate-100: #f1f5f9;
  --color-slate-300: #cbd5e1;
  --color-accent: #fffac0;

  font-family: Inter;
}
